CREATE DATABASE QuanLyBanHang
GO 
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[BaiVietHeThong]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiVietHeThong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[cCode] [nvarchar](20) NOT NULL CONSTRAINT [DF_BaiVietHeThong_cCode]  DEFAULT (''),
	[cValue] [ntext] NOT NULL CONSTRAINT [DF_BaiVietHeThong_cValue]  DEFAULT (''),
	[cLangID] [nvarchar](10) NOT NULL CONSTRAINT [DF_BaiVietHeThong_cLangID]  DEFAULT (''),
	[cUpdateTime] [datetime] NOT NULL CONSTRAINT [DF_BaiVietHeThong_cUpdateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_BaiVietHeThong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chitietdonhang]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietdonhang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDonHang] [int] NULL,
	[IdSanPham] [int] NULL,
	[Soluong] [int] NULL,
	[Dongia] [float] NULL,
 CONSTRAINT [PK_Chitietdonhang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Donhang_KhachHang]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Donhang_KhachHang](
	[IdDonHang] [int] IDENTITY(1,1) NOT NULL,
	[Idkhachhang] [int] NULL,
	[Ngaydat] [datetime] NULL,
	[Ngaygiao] [datetime] NULL,
	[Yeucau] [ntext] NULL,
	[Kieuthanhtoan] [nvarchar](100) NULL,
	[Trangthai] [int] NULL,
	[Ngonngu] [char](3) NULL,
	[Duyet] [int] NULL,
	[Tennguoinhan] [nvarchar](50) NULL,
	[DTnguoinhan] [varchar](50) NULL,
	[EmailnguoiNhan] [varchar](50) NULL,
	[Diachinguoinhan] [nvarchar](200) NULL,
 CONSTRAINT [PK_Donhang_KhachHang_IdDonHang] PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupSupport]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupSupport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
	[Lang] [varchar](5) NULL,
 CONSTRAINT [PRK_GroupSupport_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangSX]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangSX](
	[IdHang] [int] IDENTITY(1,1) NOT NULL,
	[Mota] [ntext] NULL,
	[Website] [varchar](255) NULL,
	[LienHe] [nvarchar](max) NULL,
	[UTien] [int] NULL,
	[ThucThi] [int] NULL,
	[NgonNgu] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangSX_1] PRIMARY KEY CLUSTERED 
(
	[IdHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IdKhachhang] [int] IDENTITY(1,1) NOT NULL,
	[Tentruynhap] [nvarchar](100) NULL,
	[Matkhau] [nvarchar](200) NULL,
	[Tenkhachhang] [nvarchar](200) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [smallint] NULL,
	[Diachi] [nvarchar](200) NULL,
	[Dienthoai] [varchar](12) NULL,
	[Email] [varchar](100) NULL,
	[Cauhoi] [nvarchar](300) NULL,
	[Traloi] [nvarchar](30) NULL,
	[Muc] [smallint] NULL,
	[Ngaytao] [datetime] NULL,
	[TieuDe] [nvarchar](512) NULL,
	[Noidung] [nvarchar](max) NULL,
	[Thucthi] [smallint] NULL,
 CONSTRAINT [PK_KhachHang_IdKhachhang] PRIMARY KEY CLUSTERED 
(
	[IdKhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[IdLoai] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](256) NULL,
	[Tieude] [nvarchar](300) NULL,
	[Mota] [ntext] NULL,
	[Uutien] [smallint] NULL,
	[Hinhanh] [varchar](256) NULL,
	[Tukhoa] [nvarchar](300) NULL,
	[Thucthi] [int] NULL,
	[Vitri] [int] NULL,
	[Ngonngu] [varchar](5) NULL,
 CONSTRAINT [PRK_LoaiDT_IdLoai] PRIMARY KEY CLUSTERED 
(
	[IdLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Media]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[LienKet] [nvarchar](512) NULL,
	[Vitri] [int] NULL,
	[Loai] [int] NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TieuDe] [nvarchar](50) NULL,
	[MoTa] [ntext] NULL,
	[Thutu] [int] NULL,
	[Trang] [nvarchar](50) NULL,
	[ThuMuc] [nvarchar](50) NULL,
	[Active] [bit] NULL CONSTRAINT [DF_ThucDon_Active]  DEFAULT ((1)),
	[LangID] [nvarchar](10) NULL,
 CONSTRAINT [PK_ThucDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Username] [nvarchar](32) NOT NULL CONSTRAINT [DF_NguoiDung_Username]  DEFAULT (''),
	[Password] [nvarchar](100) NOT NULL CONSTRAINT [DF_NguoiDung_Password]  DEFAULT (''),
	[Status] [bit] NOT NULL CONSTRAINT [DF_NguoiDung_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuangCao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdsName] [nvarchar](150) NOT NULL CONSTRAINT [DF_Ads_AdsName]  DEFAULT (''),
	[AdsUrl] [nvarchar](150) NOT NULL CONSTRAINT [DF_Ads_AdsUrl]  DEFAULT (''),
	[AdsImage] [nvarchar](150) NOT NULL CONSTRAINT [DF_Ads_AdsImage]  DEFAULT (''),
	[LangID] [nvarchar](10) NOT NULL CONSTRAINT [DF_Ads_LangID]  DEFAULT (N'vi-VN'),
	[AdsIndex] [int] NOT NULL CONSTRAINT [DF_Ads_AdsIndex]  DEFAULT ((1)),
	[AdsViewed] [int] NOT NULL CONSTRAINT [DF_Ads_AdsViewed]  DEFAULT ((0)),
 CONSTRAINT [PK_Ads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [varchar](30) NULL,
	[IdLoai] [int] NOT NULL,
	[Ten] [nvarchar](256) NULL,
	[Model] [nvarchar](30) NULL,
	[MotaNgan] [nvarchar](300) NULL,
	[MotaChiTiet] [ntext] NULL,
	[TSKyThuat] [ntext] NULL,
	[Tukhoa] [nvarchar](300) NULL,
	[IdHang] [int] NULL,
	[NgayNhap] [date] NULL,
	[NgayCapNhatCuoi] [date] NULL,
	[GiaCu] [float] NULL,
	[GiaMoi] [float] NULL,
	[Uutien] [smallint] NULL,
	[ThucThi] [int] NULL,
	[HinhAnh] [nvarchar](300) NULL,
	[HinhAnh1] [nvarchar](300) NULL,
	[HinhAnh3] [nvarchar](300) NULL,
	[HinhAnh4] [nvarchar](300) NULL,
	[TieuBieu] [bit] NULL,
	[Ngonngu] [nvarchar](50) NULL,
 CONSTRAINT [PRK_DienThoai_IdDienThoai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Support]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Support](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Tel] [nvarchar](256) NULL,
	[Type] [int] NULL,
	[Nick] [varchar](128) NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
	[GroupSupportId] [int] NULL,
	[Lang] [varchar](5) NULL,
	[Location] [int] NULL,
 CONSTRAINT [PRK_Support_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbvisistor]    Script Date: 5/24/2021 4:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbvisistor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[iuseronline] [int] NULL,
	[ivisistor] [bigint] NULL,
	[iuseronlinedate] [int] NULL,
	[dateonline] [datetime] NULL,
 CONSTRAINT [PRK_tbvisistor_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaiVietHeThong] ON 

INSERT [dbo].[BaiVietHeThong] ([ID], [cCode], [cValue], [cLangID], [cUpdateTime]) VALUES (2, N'SupportOnline', N'<p>Đường d&acirc;y n&oacute;ng :&nbsp;<br />
<strong>+84 977358269</strong></p>
', N'vi-VN', CAST(N'2017-04-14 19:19:10.000' AS DateTime))
INSERT [dbo].[BaiVietHeThong] ([ID], [cCode], [cValue], [cLangID], [cUpdateTime]) VALUES (3, N'SupportOnline', N'<p>HotLine :&nbsp; <strong>+84&nbsp;<span id="ctl03_GridView1_ctl02_Label2"> 0977358269</span></strong></p>
<p>&nbsp;</p>', N'en-US', CAST(N'2011-04-11 17:10:33.200' AS DateTime))



SET IDENTITY_INSERT [dbo].[BaiVietHeThong] OFF
SET IDENTITY_INSERT [dbo].[Chitietdonhang] ON 

INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (11, 0, 16, 1, 150000)
INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (12, 0, 16, 1, 150000)
INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (13, 0, 16, 1, 150000)
SET IDENTITY_INSERT [dbo].[Chitietdonhang] OFF
SET IDENTITY_INSERT [dbo].[Donhang_KhachHang] ON 

INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (13, 1, CAST(N'2017-05-06 19:29:04.547' AS DateTime), CAST(N'2017-05-09 00:00:00.000' AS DateTime), N'', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (14, 1, CAST(N'2017-05-06 19:32:01.983' AS DateTime), CAST(N'2017-05-09 00:00:00.000' AS DateTime), N'1234', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (15, 1, CAST(N'2017-05-06 19:32:58.373' AS DateTime), CAST(N'2017-05-09 00:00:00.000' AS DateTime), N'1', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
SET IDENTITY_INSERT [dbo].[Donhang_KhachHang] OFF
SET IDENTITY_INSERT [dbo].[HangSX] ON 

INSERT [dbo].[HangSX] ([IdHang], [Mota], [Website], [LienHe], [UTien], [ThucThi], [NgonNgu]) VALUES (1, N'Mạnh Thắng', N'<p><a href="http://TrangSucBacMT.com">http://TrangSucBacMT.com</a></p>
', N'<p>01686466646</p>
', 1, 1, N'vi-VN')
INSERT [dbo].[HangSX] ([IdHang], [Mota], [Website], [LienHe], [UTien], [ThucThi], [NgonNgu]) VALUES (4, N'Mạnh Thắng 2', N'<p>abc</p>
', N'<p>0868671295</p>
', 1, 1, N'vi-VN')
SET IDENTITY_INSERT [dbo].[HangSX] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (1, N'thang', N'123456', N'Nguyễn Mạnh Thắng', NULL, NULL, N'Thái bình', N'0868671295', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (5, N'hung', N'123456', N'Hoàng Đức Hưng', NULL, NULL, N'Tân Hòa Thái Bình', N'0868671296', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (2, N'Dây chuyền nữ', N'Dây chuyền nữ', N'<p>D&acirc;y chuyền nữ</p>
', 1, NULL, N'Dây chuyền nữ', 1, 3, N'vi-VN')
INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (3, N'Lắc tay nữ', N'Lắc tay nữ', N'Lắc tay nữ', 1, NULL, N'Lắc tay nữ', 1, 4, N'vi-VN')
INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (4, N'Lắc chân nữ', N'Lắc chân nữ ', N'Lắc chân nữ', 1, NULL, N'Lắc chân nữ', 1, 5, N'vi-VN')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [Ten], [TieuDe], [MoTa], [Thutu], [Trang], [ThuMuc], [Active], [LangID]) VALUES (1, N'HOME', N'Trang Chủ', N'Trang Chủ', 1, N'Index', N'Home', 1, N'vi-VN')
INSERT [dbo].[Menu] ([id], [Ten], [TieuDe], [MoTa], [Thutu], [Trang], [ThuMuc], [Active], [LangID]) VALUES (3, N'LIÊN HỆ', N'Liên Hệ', N'Liên Hệ', 3, N'LienHe', N'Home', 1, N'vi-VN')
SET IDENTITY_INSERT [dbo].[Menu] OFF
INSERT [dbo].[NguoiDung] ([Username], [Password], [Status]) VALUES (N'admin', N'123456', 1)
INSERT [dbo].[NguoiDung] ([Username], [Password], [Status]) VALUES (N'thang', N'123456', 1)
INSERT [dbo].[NguoiDung] ([Username], [Password], [Status]) VALUES (N'thien', N'123456', 1)
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (11, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/NE0208_banner-thang7-3.jpg', N'vi-VN', 1, 0)
INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (12, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/banner 5-1.jpg', N'vi-VN', 2, 0)
INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (13, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/company-banner4-394.jpg.banner.jpg', N'vi-VN', 3, 0)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
SET IDENTITY_INSERT [dbo].[Sanpham] ON 

INSERT [dbo].[Sanpham] ([id], [MaSanPham], [IdLoai], [Ten], [Model], [MotaNgan], [MotaChiTiet], [TSKyThuat], [Tukhoa], [IdHang], [NgayNhap], [NgayCapNhatCuoi], [GiaCu], [GiaMoi], [Uutien], [ThucThi], [HinhAnh], [HinhAnh1], [HinhAnh3], [HinhAnh4], [TieuBieu], [Ngonngu]) VALUES (6, N'SP03', 3, N'Lắc tay bạc nữ', N'LTBN-12312', N'Lắc tay bạc nữ', NULL, N'MT-9', N'Lắc tay bạc nữ', 1, CAST(N'1995-07-12' AS Date), CAST(N'1995-07-12' AS Date), 12, 12121212, 1, 1, N'/Areas/Administrator/Contentimages/560158517498904_1388761484520956_9106560123857177264_n_264_265.jpg', NULL, NULL, NULL, 0, N'vi-VN')
INSERT [dbo].[Sanpham] ([id], [MaSanPham], [IdLoai], [Ten], [Model], [MotaNgan], [MotaChiTiet], [TSKyThuat], [Tukhoa], [IdHang], [NgayNhap], [NgayCapNhatCuoi], [GiaCu], [GiaMoi], [Uutien], [ThucThi], [HinhAnh], [HinhAnh1], [HinhAnh3], [HinhAnh4], [TieuBieu], [Ngonngu]) VALUES (14, N'SP01', 6, N'Dây chuyền nam', N'DCN-123', N'Dây chuyền bạc nam', N'Làm từ bạc 9999 nguyên chất', N'MT-10', N'Dây chuyền bạc nam', 1, CAST(N'1995-07-12' AS Date), CAST(N'1995-07-12' AS Date), 5000000, 4500000, 1, 1, N'/Media/Image/mua-day-chuyen-nam-o-dau-a4.jpg', NULL, NULL, NULL, 0, N'vi-VN')
SET IDENTITY_INSERT [dbo].[Sanpham] OFF
ALTER TABLE [dbo].[Donhang_KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_Donhang_KhachHang_KhachHang] FOREIGN KEY([Idkhachhang])
REFERENCES [dbo].[KhachHang] ([IdKhachhang])
GO
ALTER TABLE [dbo].[Donhang_KhachHang] CHECK CONSTRAINT [FK_Donhang_KhachHang_KhachHang]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_HangSX] FOREIGN KEY([IdHang])
REFERENCES [dbo].[HangSX] ([IdHang])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_HangSX]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_SP_LoaiSP] FOREIGN KEY([IdLoai])
REFERENCES [dbo].[LoaiSanPham] ([IdLoai])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_SP_LoaiSP]
GO
